language: java
dist: trusty
jdk: oraclejdk9
addons:
  code_climate:
    repo_token: 
      secure: "hkpU5hbhM7Xhn8OGVKQiJ5bthu0NDsCm90BLjlMwKf6GD82YvdAHMCBZ0SbsXjMMIrbwtAfky1lFpXsqHIW8kk8yYrhnXKbE4PJ5gfwQNPPhHi/0RZchT0VmVOEq2tuanHNlCzxURhWewG05Ykbpgvlhwb2uHD2nrkEtMZ1xpDAOvwyl1RRlmvc5o4sRlNnSvYxbcyj1Wzn5g/KKqobbAbK96L1o7XByeZQtsKQV/S2XPSuCnVjFMlidm/CURtgugf6CXjrOat7M8bK20CBs5Co8dseb9GQA2wYEOTRaazbbxTFDegYNqOcf4SagdEWQzscu0qVZWl1v412auzCp3poEouYjqfF66rRqxqE2iFmXdH7R79UGDhr93t9CplgAAN0FsLQDdSa6uiHSDRezHPKotBDrQRsuLGve9EoFAfm+v6OLYIes71k7MkAi0gKkMoUDCzwn3zmH9whfYlbtGY54X73c/nTj/2JwdvaU6LkleWJ3VqqlPR6ZfbO7/7Prg6EsXpxJ3aIG3xnVDiPyq44qAFZKFg+yWsRTK0Vi6Z42Ji2h/fvEaipz+PaU6VaPvlsWqaNIBi1CWI+MR5hF0F3hO3Bus7xHsqEdtkcQLrpzWrNhFk5hN4X/OYR8dCjLogiiNzGB7b6aTSayBYX2dUqBD3GIakhBIfLXl6ilnrA"
  sonarcloud:
    organization: "milfist-github"
    token:
      secure: "kjL8iGTCaqRT9FZRYOa2vfQAMFTyoXGf5KdtK2nVzN7l4LudElcLDZISNkht7A6Wx1ZS5wpkXJtxRyYjp908yPTaU4QceoIuQVLedZF6/dwyLV2enfR58elAWLSLwur326781di/IxQmeSxgiiSe2V6Nuzjqu4vuebj2ayNwkr0aQZ4L+UALTW5CubAoQpu48UXCK1Gzs22WrKuibUZv2Rt7YAi6bh9qnQn+JbbxPVANtmwsNUp1DK1ZRliZYd1ZgzipAZ8ENWoQ0fgefbxjUStj8vgoPbPSg1Ir1GlrBMaxw6gQMJ0fIyCGNlzDHXkI+EgGw91PQCqe6xWRk5c0Iq3MQJUaIiT8nyLOTJRp0xHDXt/ms4EfiYPeDAp8PtMG/ysBAcCWWBJLveXi/B7jAaW8/NOnoAnXqoKXqc+MAvrYdJvTLYlsRtZuosscBU/RO9g8nefh/tv+crbigyH5lwYr5gkeecR0IqGzXrX8hHIZO9GeYdAZEt5BXvi8bC6zxIzCPHuxZlRqCu7tIOzgUH80r6uDm1C0we3u1HLqrkV1yysqAiOKmtzikgqwJe2jXKiRKqSKx5yqPQ869o0fSK2jMJZ9+oQwYau5YZi48VyZ5PY8EPEdSZIwsIy5ANekHw8Xl8y9Utfca2lhhsw6GWVCfQToUaTWQrk0A5YdEP4="

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  #- mvn test
  #- sonar-scanner
 # - bundle exec rspec
after_script:
  #- ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - ./cc-test-reporter format-coverage -d -t jacoco --input /home/travis/build/Milfist/Drone/target/jacoco-ut/jacoco.xml
  - ./cc-test-reporter upload-coverage -d --input /target/jacoco-ut
after_success:
  - bash <(curl -s https://codecov.io/bash)


  
